<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBroker</title>
</head>
<body>
    
    <h1> EasyBroker</h1>

    <p>{{ data }}</p>
<!--<p>{{ phone}}</p>
    <p>{{ property_id }}</p>-->

<!-- {{% for i in data %}}-->   
<!--        <p>{{ i.name }}</p>
        <p>{{ i.phone}}</p>
        <p>{{ i.property_id }}</p>

        <a href="{{ i.public_url }}" target="_blank">Go to full details</a>-->

<!--    {{% endfor %}} -->

</body>
</html>
